name: CI Pipeline

on: [push]

jobs:
  train-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install Dependencies
        run: |
          pip install mlflow==2.19.0 dagshub pandas scikit-learn

      - name: Retrain Model (MLProject)
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USER }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run MLProject --no-conda

      - name: Upload Artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: trained-model-artifacts
          path: MLProject/

      - name: Build Docker Image
        run: |
          echo "FROM python:3.12.7-slim" > Dockerfile
          echo "RUN pip install pandas scikit-learn mlflow==2.19.0" >> Dockerfile
          echo "COPY ./MLProject /app" >> Dockerfile
          echo "WORKDIR /app" >> Dockerfile
          docker build -t heart-failure-model .

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Push to Docker Hub
        run: |
          docker tag heart-failure-model ${{ secrets.DOCKER_USER }}/heart-failure-model:latest
          docker push ${{ secrets.DOCKER_USER }}/heart-failure-model:latest